<header>
	{% if index %}
		<h3 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{{ post.title | titlecase }}</a></h3>
	{% else %}
		<h2 class="title">{{ page.title | titlecase }}</h2>
	{% endif %}
	{% unless page.meta == false %}
		<p class="meta">{% include post/date.html %}{{ time }}</p>
	{% endunless %}
</header>

{% if index %}
	<div class="entry-content">{{ content | excerpt }}</div>
	{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
	{% if excerpted == 'true' %}
		<footer>
			<a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
		</footer>
	{% endif %}
{% else %}
<div class="entry-content">{{ content }}</div>
{% endif %}
